In [9]:
# !python -V
# !pip install dbfread

In [1]:
import osgeo
import shapefile as shp
import pandas as pd
from simpledbf import Dbf5
import numpy as np
import dbfread as dbfr

In [1]:
# Merge peak times
# data = pd.read_csv('./020301_020402_HWM.csv')
# dates = pd.read_csv('./HWM_PeakTimes.csv')
# dates.time_fmax = pd.to_datetime(dates.time_fmax, format='%Y%m%d_%H_Q_x',)
# data = data.merge(dates, on='COMID')
# data.to_csv('./020301_020402_HWM.csv')
# data

In [6]:
# dbf_file = 'C:/Users/David/G-Rutgers/HAND/ValidationDocs/USGS_HMW_Aug2011_Irene/USGS_HMW_Aug2011_Irene.dbf'
# In ArcGIS, take Irene HWM shapefile, reproject shapefile to NFIE DEM, Extract Values to Points
# (DEM to HWM, HAND to HWM, COMID to HWM) 
# Export new layer to dbf

# dbf_file = './NJ_HWM.dbf'
# dbf_file = 'C:/Users/David/G-Rutgers/HAND/ValidationDocs/Irene/HWM_DEM_HAND_COMID_020301.dbf'
# dbf = Dbf5(dbf_file)
# df1 = dbf.to_dataframe()

# df1 = df1.rename(columns={'ELEV_NAVD8':'HWM_NAVD8_ft'})
# df1 = df1.rename(columns={'DEM':'DEM_m'})
# df1 = df1.rename(columns={'HAND':'HAND_m'})

# # Convert HWM elev to m
# df1['HWM_NAVD8_m'] = ''
# df1['HWM_NAVD8_m'] = df1['HWM_NAVD8_ft'] * 0.3048

# # Calculate water depth at the location of HWM
# df1['Inun_Depth_m'] = ''
# df1['Inun_Depth_m'] = df1['HWM_NAVD8_m'] - df1['DEM_m']

# # Drop missing data - see the second dataset
# df2 = df1[df1.HAND_m > 0]
# df2 = df2[df2.HWM_NAVD8_ft > 0]
# # df2 = df2.reset_index(drop=True)

# # Calculate the total water depth based on HAND at HWM and Inun_Depth at 
# df2['Stream_H_m'] = ''
# df2['Stream_H_m'] = df2.Inun_Depth_m + df2.HAND_m

# # Take a look at the points with negative Inun_Depth values - any 
# # df_neg = df[df.Inun_Depth_m < 0]
# # pd.options.display.max_columns = None
# # pd.options.display.max_rows = None
# # df_neg

# # df2.to_csv('./NJ_HWM_USGS.csv')
# df2.head()

,SITE_NUM,SITE_ID,NAME,LAT_DD,LON_DD,HWM_NAVD8_ft,HWM_ID,DEM_m,HAND_m,COMID,HWM_NAVD8_m,Inun_Depth_m,Stream_H_m
0,1.0,ASSU1,ASSU1_1,40.206639,-74.762472,25.9575,1,7.88208,48.44210,4481730.0,7.911846,0.029766,48.471866
1,1.0,ASSU1,ASSU1_2,40.211139,-74.762472,26.3375,2,7.34589,6.84096,4481730.0,8.027670,0.681780,7.522740
2,1.0,ASSU1,ASSU1_3,40.210889,-74.763111,24.3275,3,5.99227,6.48132,4481730.0,7.415022,1.422752,7.904072
3,1.0,ASSU1,ASSU1_4,40.210889,-74.763222,24.2275,4,5.67832,6.48132,4481730.0,7.384542,1.706222,8.187542
4,2.0,ASSU2,ASSU2_1,40.217500,-74.767917,19.9350,1,6.45428,5.09700,2590140.0,6.076188,-0.378092,4.718908

In [11]:
# import matplotlib.pyplot as plt
# plt.hist(df.Inun_Depth_m, bins = 10)
# plt.show()

In [13]:
# 958 HWM points total
# 932 HWM points where HWM_NAVD8_ft > 0
# 790 HWM points combined in 020301 and 020402 where HWM_NAVD8_ft > 0 and HAND > 0

# hwm = pd.read_csv('./HWM_combined.csv')
# hwm

# nhd_file = 'C:/Users/David/G-Rutgers/NHDPlusAttributes/PlusFlowlineVAA.dbf'
# nhd = pd.DataFrame(iter(dbfr.read(nhd_file)))
# nhd = nhd.rename(columns={'ComID':'COMID'})

# # Intermediate slice
# dfy = nhd[['StreamOrde','COMID']].copy()

# hwm = hwm.merge(dfy, on='COMID') #left_on='COMID', right_on='COMID'
# hwm.to_csv('./HWM_combined.csv')
# hwm

,OBJECTID *,SITE_NUM,HWM_ID,SITE_ID,NAME,LAT_DD,LON_DD,HWM_ELEV_ft,HWM_ELEV_m,DEM_m,HAND_m,InunAtPoint_m,SteamH_m,COMID,StreamOrde
0,1,1,1,ASSU1,ASSU1_1,40.206639,-74.762472,25.9575,7.911846,7.882075,48.442070,0.029771,48.471841,4481733,6.0
1,2,1,2,ASSU1,ASSU1_2,40.211139,-74.762472,26.3375,8.027670,7.345893,6.840959,0.681777,7.522736,4481733,6.0
2,3,1,3,ASSU1,ASSU1_3,40.210889,-74.763111,24.3275,7.415022,5.992265,6.481321,1.422757,7.904078,4481733,6.0
3,4,1,4,ASSU1,ASSU1_4,40.210889,-74.763222,24.2275,7.384542,5.678322,6.481321,1.706220,8.187541,4481733,6.0
4,5,2,1,ASSU2,ASSU2_1,40.217500,-74.767917,19.9350,6.076188,6.454280,5.097004,-0.378092,4.718912,2590137,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1015,81,16,NaN,Somerset,NaN,611974.637900,496020.422800,21.9894,6.702369,6.728075,5.268155,-0.025706,5.242449,9514038,6.0
1016,82,27,NaN,Somerset,NaN,604903.651700,469850.241600,46.8271,14.272900,13.905640,4.926802,0.367260,5.294062,9517826,5.0
1017,84,5,NaN,Somerset,NaN,595939.184300,479739.271100,48.8328,14.884237,15.058800,2.369490,-0.174563,2.194927,9514722,2.0
1018,85,25,NaN,Somerset,NaN,595689.539900,472354.525100,48.7617,14.862566,14.900360,6.119610,-0.037794,6.081816,9514744,5.0
1019,86,24,NaN,Somerset,NaN,592674.743100,469422.639600,48.3290,14.730679,14.559630,5.432296,0.171049,5.603345,9514744,5.0

In [18]:
hwm.COMID.unique().size

194

In [10]:
df_a = pd.read_csv('C:/Users/David/G-Rutgers/020301/hydrogeo-fulltable-020301-updated.csv')
df_b = pd.read_csv('C:/Users/David/G-Rutgers/020401/hydrogeo-fulltable-020401-updated.csv')
df_c = pd.read_csv('C:/Users/David/G-Rutgers/020402/hydrogeo-fulltable-020402-updated.csv')
df_d = pd.read_csv('C:/Users/David/G-Rutgers/020403/hydrogeo-fulltable-020403-updated.csv')


df_a = df_a.append(df_b)
df_a = df_a.append(df_c)
df_a = df_a.append(df_d)
df_a

,Unnamed: 0,CatchId,Stage,Number of Cells,SurfaceArea (m2),BedArea (m2),Volume (m3),SLOPE,LENGTHKM,AREASQKM,Roughness,TopWidth (m),WettedPerimeter (m),WetArea (m2),HydraulicRadius (m),Discharge (m3s-1),StreamOrde,rough
0,0,6203028,0.0000,82,6.549838e+03,6.550499e+03,0.000000e+00,0.000010,0.599,0.1692,0.05,10.934620,10.935724,0.000000,0.000000,0.000000,3.0,0.065
1,1,6203028,0.3048,119,9.505308e+03,9.506484e+03,2.581014e+03,0.000010,0.599,0.1692,0.05,15.868628,15.870590,4.308872,0.271500,0.087895,3.0,0.065
2,2,6203028,0.6096,175,1.397840e+04,1.398189e+04,6.373193e+03,0.000010,0.599,0.1692,0.05,23.336219,23.342058,10.639721,0.455818,0.306580,3.0,0.065
3,3,6203028,0.9144,351,2.803637e+04,2.805438e+04,1.149679e+04,0.000010,0.599,0.1692,0.05,46.805300,46.835353,19.193306,0.409804,0.515174,3.0,0.065
4,4,6203028,1.2192,738,5.894835e+04,5.898808e+04,2.168741e+04,0.000010,0.599,0.1692,0.05,98.411269,98.477590,36.206020,0.367657,0.903989,3.0,0.065
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560660,560660,9454917,23.7744,145374,1.183053e+07,1.184557e+07,1.743363e+08,0.000076,2.495,11.8440,0.05,4741.695503,4747.724594,69874.281975,14.717425,122063.443339,5.0,0.030
560661,560661,9454917,24.0792,145396,1.183232e+07,1.184743e+07,1.779426e+08,0.000076,2.495,11.8440,0.05,4742.413210,4748.467165,71319.668173,15.019514,126287.469968,5.0,0.030
560662,560662,9454917,24.3840,145419,1.183419e+07,1.184931e+07,1.815493e+08,0.000076,2.495,11.8440,0.05,4743.163541,4749.224045,72765.255173,15.321504,130568.582205,5.0,0.030
560663,560663,9454917,24.6888,145447,1.183647e+07,1.185166e+07,1.851567e+08,0.000076,2.495,11.8440,0.05,4744.076987,4750.163276,74211.115524,15.622856,134903.413953,5.0,0.030
560664,560664,9454917,24.9936,145467,1.183810e+07,1.185332e+07,1.887648e+08,0.000076,2.495,11.8440,0.05,4744.729450,4750.829718,75657.217950,15.925054,139300.070198,5.0,0.030

In [12]:
df_a = df_a.drop_duplicates(subset='CatchId', keep='first')
df_a = df_a.drop(labels=['Number of Cells', 'SurfaceArea (m2)','BedArea (m2)','Volume (m3)',\
                        'Roughness', 'TopWidth (m)', 'WettedPerimeter (m)','WetArea (m2)', 'HydraulicRadius (m)',\
                         'Discharge (m3s-1)', 'StreamOrde', 'rough'], axis=1)
df_a

        Unnamed: 0  CatchId  Stage     SLOPE  LENGTHKM  AREASQKM
0                0  6203028    0.0  0.000010     0.599    0.1692
83              83  6202956    0.0  0.001003     5.157    6.9696
166            166  6203376    0.0  0.000010     1.341    1.2708
249            249  6202926    0.0  0.004483     1.798    1.0674
332            332  6203154    0.0  0.002825     6.723   20.9673
...            ...      ...    ...       ...       ...       ...
560250      560250  9455581    0.0  0.000010     0.588    0.2709
560333      560333  9455631    0.0  0.000010     3.853    2.7486
560416      560416  9454915    0.0  0.000010     2.200    6.1092
560499      560499  9455427    0.0  0.000010     2.941    5.9571
560582      560582  9454917    0.0  0.000076     2.495   11.8440

[30207 rows x 6 columns]

In [15]:
extra = pd.read_csv('Catchments_LandUse.csv')
extra

        OID_     Id     COMID  Land_Code
0          1  35700  12058734       95.0
1          2  35701  12058736       11.0
2          3  35702  10234349       42.0
3          4  35703  12058744       95.0
4          5  35705  10234639       42.0
...      ...    ...       ...        ...
36173  36174   1199   1748611       41.0
36174  36175   1211   1748609       41.0
36175  36176   1222   1748747       41.0
36176  36177   1234   1748613       43.0
36177  36178   1324   6189668       41.0

[36178 rows x 4 columns]

In [17]:
df_a = df_a.rename(columns={'CatchId':'COMID'})
combine = df_a.merge(extra, on='COMID')
combine

,Unnamed: 0,COMID,Stage,SLOPE,LENGTHKM,AREASQKM,OID_,Id,Land_Code
0,0,6203028,0.0,0.000010,0.599,0.1692,26633,8760,90.0
1,83,6202956,0.0,0.001003,5.157,6.9696,26513,8369,41.0
2,166,6203376,0.0,0.000010,1.341,1.2708,26619,8712,90.0
3,249,6202926,0.0,0.004483,1.798,1.0674,26343,7923,81.0
4,332,6203154,0.0,0.002825,6.723,20.9673,27454,11162,41.0
...,...,...,...,...,...,...,...,...,...
32714,560250,9455581,0.0,0.000010,0.588,0.2709,14327,27978,11.0
32715,560333,9455631,0.0,0.000010,3.853,2.7486,14595,28367,95.0
32716,560416,9454915,0.0,0.000010,2.200,6.1092,12310,22793,11.0
32717,560499,9455427,0.0,0.000010,2.941,5.9571,13939,27221,90.0
32718,560582,9454917,0.0,0.000076,2.495,11.8440,12394,23052,22.0

In [18]:
combine = combine.drop_duplicates(subset='COMID', keep='first')
combine

,Unnamed: 0,COMID,Stage,SLOPE,LENGTHKM,AREASQKM,OID_,Id,Land_Code
0,0,6203028,0.0,0.000010,0.599,0.1692,26633,8760,90.0
1,83,6202956,0.0,0.001003,5.157,6.9696,26513,8369,41.0
2,166,6203376,0.0,0.000010,1.341,1.2708,26619,8712,90.0
3,249,6202926,0.0,0.004483,1.798,1.0674,26343,7923,81.0
4,332,6203154,0.0,0.002825,6.723,20.9673,27454,11162,41.0
...,...,...,...,...,...,...,...,...,...
32714,560250,9455581,0.0,0.000010,0.588,0.2709,14327,27978,11.0
32715,560333,9455631,0.0,0.000010,3.853,2.7486,14595,28367,95.0
32716,560416,9454915,0.0,0.000010,2.200,6.1092,12310,22793,11.0
32717,560499,9455427,0.0,0.000010,2.941,5.9571,13939,27221,90.0
32718,560582,9454917,0.0,0.000076,2.495,11.8440,12394,23052,22.0

In [19]:
combine.to_csv('./Catchment_Data.csv')

In [33]:
comids = df_a.CatchId.unique()
comids.size
# comids

6687

In [34]:
comids.sort()
comids

array([  2583257,   2583289,   2583307, ..., 932040189, 932040293,
       932040296], dtype=int64)

In [12]:
# sorted(comids, key=lambda x: int(x[-1]))

In [8]:
comids.dtype

dtype('int64')

In [9]:
for item in comids:
    if isinstance(item, int):
        print(item)

In [20]:
valid_rows = df_a[df_a['CatchId'].isin(set(hwm.COMID.unique()))]  
valid_rows = valid_rows.drop(['Unnamed: 0'],axis=1)
# valid_rows.to_csv('./validation_hydrotable.csv')
valid_rows

,CatchId,Stage,Number of Cells,SurfaceArea (m2),BedArea (m2),Volume (m3),SLOPE,LENGTHKM,AREASQKM,Roughness,TopWidth (m),WettedPerimeter (m),WetArea (m2),HydraulicRadius (m),Discharge (m3s-1),StreamOrde,rough
20418,6250092,0.0000,83,6.667502e+03,6.668148e+03,0.000000e+00,0.008458,0.655,1.8936,0.05,10.179393,10.180379,0.000000,0.000000,0.000000,3.0,0.065
20419,6250092,0.3048,221,1.775336e+04,1.775572e+04,3.248688e+03,0.008458,0.655,1.8936,0.05,27.104373,27.107976,4.959829,0.182966,2.261694,3.0,0.065
20420,6250092,0.6096,378,3.036559e+04,3.037513e+04,1.085888e+04,0.008458,0.655,1.8936,0.05,46.359686,46.374243,16.578446,0.357493,11.815241,3.0,0.065
20421,6250092,0.9144,446,3.582818e+04,3.584603e+04,2.110807e+04,0.008458,0.655,1.8936,0.05,54.699510,54.726766,32.226062,0.588854,32.033148,3.0,0.065
20422,6250092,1.2192,472,3.791679e+04,3.794294e+04,3.237785e+04,0.008458,0.655,1.8936,0.05,57.888229,57.928150,49.431828,0.853330,62.922421,3.0,0.065
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540657,9481798,23.7744,13782,1.127582e+06,1.128356e+06,2.144375e+07,0.002615,0.455,1.1277,0.05,2478.201274,2479.904102,47129.124232,19.004414,381429.176433,4.0,0.045
540658,9481798,24.0792,13782,1.127582e+06,1.128356e+06,2.178744e+07,0.002615,0.455,1.1277,0.05,2478.201274,2479.904102,47884.479981,19.309005,391672.355471,4.0,0.045
540659,9481798,24.3840,13782,1.127582e+06,1.128356e+06,2.213113e+07,0.002615,0.455,1.1277,0.05,2478.201274,2479.904102,48639.835729,19.613595,402023.826899,4.0,0.045
540660,9481798,24.6888,13782,1.127582e+06,1.128356e+06,2.247481e+07,0.002615,0.455,1.1277,0.05,2478.201274,2479.904102,49395.191477,19.918186,412483.027182,4.0,0.045
540661,9481798,24.9936,13782,1.127582e+06,1.128356e+06,2.281850e+07,0.002615,0.455,1.1277,0.05,2478.201274,2479.904102,50150.547225,20.222777,423049.404333,4.0,0.045

In [27]:
valid_rows.columns

Index(['Unnamed: 0', 'CatchId', 'Stage', 'Number of Cells', 'SurfaceArea (m2)',
       'BedArea (m2)', 'Volume (m3)', 'SLOPE', 'LENGTHKM', 'AREASQKM',
       'Roughness', 'TopWidth (m)', 'WettedPerimeter (m)', 'WetArea (m2)',
       'HydraulicRadius (m)', 'Discharge (m3s-1)', 'StreamOrde', 'rough'],
      dtype='object')

In [9]:
# # rasterio installed from Gohlke's binaries 
# import rasterio
# import numpy as np
# from affine import Affine
# from pyproj import Proj, transform

# import rasterio.features
# import rasterio.warp
# from matplotlib import pyplot
# from rasterio.plot import show
# import pandas as pd
# import numpy as np

# fname = 'C:/Users/David/G-Rutgers/020301/020301.tif'

# img = rasterio.open(fname)

# print(img.count)
# print("W = " + str(img.width) + ", H = " + str(img.height))
# print(img.bounds)
# band1 = img.read(1)
# print(band1[17289,19023])

# lat = pd.DataFrame()
# lon = 

# show(band1,0)

# pd.DataFrame(array.reshape([3,-1]).T)

# # Read raster
# with rasterio.open(fname) as r:
#     T0 = r.transform  # upper-left pixel corner affine transform
#     p1 = Proj(r.crs)
#     A = r.read()  # pixel values

# # All rows and columns
# cols, rows = np.meshgrid(np.arange(A.shape[2]), np.arange(A.shape[1]))

# # Get affine transform for pixel centres
# T1 = T0 * Affine.translation(0.5, 0.5)
# # Function to convert pixel row/column index (from 0) to easting/northing at centre
# rc2en = lambda r, c: (c, r) * T1

# # All eastings and northings (there is probably a faster way to do this)
# eastings, northings = np.vectorize(rc2en, otypes=[np.float, np.float])(rows, cols)

# # Project all longitudes, latitudes
# p2 = Proj(proj='latlong',datum='WGS84')
# longs, lats = transform(p1, p2, eastings, northings)